doctype html

html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')

  body
    div.hibachi
      img(src='/images/hibachi.jpg' height='102px')

    h1= title

    div.nav
      p
        | Boards:
        | <a href='/'>Home</a>

    div.content
      block content
