doctype html

html
  head
    title= title

    link(rel='stylesheet' href='/stylesheets/style.css')
    script(type='text/javascript' src='/javascripts/jquery-3.3.1.min.js')

  body
    div.hibachi
      img(src='/images/hibachi.jpg' height='102px')

    h1= title

    div.nav
      p
        | Boards:
        each b in boards
          | <a href='/#{b.name}'>#{b.name}</a>

    div.content
      block content
