@import url("https://fonts.googleapis.com/css?family=Raleway+Dots");
body {
  background: #000;
}
div.hibachi {
  position: absolute;
  top: 0;
  left: 0;
  height: 102px;
  width: 100%;
  background: linear-gradient(90deg, rgba(50,150,150,0.2), rgba(0,0,0,0.75));
}
div.nav {
  position: absolute;
  top: 102px;
  left: 0;
  right: 0;
  padding: 3px;
  background: linear-gradient(90deg, rgba(50,150,150,0.2), rgba(0,0,0,0.75));
  border-bottom: 1px rgba(50,150,150,0.5) dashed;
}
div.nav p a {
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
}
div.nav p a:hover {
  text-decoration: none;
  background: rgba(50,150,100,0.5);
}
div.content {
  position: absolute;
  top: 121px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  background: rgba(5,15,10,0.5);
}
div.center {
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 20px;
  padding-bottom: 20px;
}
div.new-post-modal {
  position: absolute;
  top: 11px;
  left: 73px;
  width: 500px;
  height: 535px;
  background: rgba(0,0,0,0.9);
  border: 1px rgba(50,150,100,0.5) solid;
  display: none;
}
div.post,
div.reply {
  margin: 10px;
  padding: 5px;
  padding-left: 15px;
  width: 1000px;
  background: rgba(5,15,10,0.8);
  border-left: 1px rgba(50,150,100,0.5) dashed;
}
div.post img {
  height: 200px;
}
div.post pre {
  width: 980px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
div.reply {
  margin-left: 100px;
}
div.highlight {
  background: #0a1e19;
  border: 1px #287864 solid;
}
h1 {
  margin: 0;
  float: right;
  font: 50pt 'Raleway Dots';
  color: #ffc0cb;
}
p,
pre {
  margin: 0;
  font: 8pt Verdana;
  color: #c8c8c8;
}
p.buttons {
  margin-top: 11px;
  margin-left: 5px;
  padding: 5px;
}
p.buttons a {
  padding: 5px;
  background: rgba(255,192,203,0.1);
}
p.buttons a:hover {
  text-decoration: none;
  background: rgba(50,150,100,0.5);
}
a {
  color: #ffc0cb;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.highlight {
  color: #64e1e1;
}
.highlight-bg {
  padding: 3px;
  background: rgba(50,150,100,0.1);
}
.subdued {
  color: #808080;
}
.small {
  font-size: 7pt;
}
table {
  border-collapse: collapse;
}
td.post {
  vertical-align: top;
  padding-left: 5px;
}
td.post p {
  margin-bottom: 5px;
}
input[type='text'],
input[type='submit'],
textarea {
  margin: 5px;
  margin-bottom: 0;
  padding: 5px;
  width: 480px;
  background: rgba(50,150,100,0.2);
  border: none;
  color: #fff;
  font: 8pt Verdana;
}
input[type='submit'] {
  width: 100px;
  background: rgba(50,150,100,0.2);
  border: 1px rgba(50,150,100,0.5) solid;
}
input[type='submit']:hover {
  background: rgba(250,150,50,0.2);
  border: 1px #fa9632 solid;
  cursor: pointer;
}
textarea {
  height: 400px;
}
img {
  margin-bottom: -4px;
}
