@import url('https://fonts.googleapis.com/css?family=Raleway+Dots');


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //
// *                                                     * // Content Areas //
body
    background black

div.hibachi
    position absolute
    top 0
    left 0

    height 102px
    width 100%
    background linear-gradient(90deg, rgba(50,150,150,.2), alpha(black, 75%))

div.nav
    position absolute
    top 102px
    left 0
    right 0
    padding 3px

    background linear-gradient(90deg, rgba(50,150,150,.2), alpha(black, 75%))
    border-bottom 1px rgba(50,150,150,.5) dashed

div.nav p a
    padding 3px
    padding-left 5px
    padding-right 5px

div.nav p a:hover
    text-decoration none
    background rgba(50,150,100,.5)

div.content
    position absolute
    top 121px
    bottom 0
    left 0
    right 0
    overflow-y scroll

    background rgba(5,15,10,.5)

div.center
    margin-left 20%
    margin-right 20%
    padding-top 20px
    padding-bottom 20px

div.post
    margin 10px
    padding 5px
    padding-left 15px

    width 1000px

    background rgba(5,15,10,.8)
    border-left 1px rgba(50,150,100,.5) dashed


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //
// *                                                               * // Text //
h1
    margin 0
    float right

    font 50pt 'Raleway Dots'
    color pink

p
    margin 0

    font 8pt Verdana
    color rgb(200,200,200)

a
    color pink
    text-decoration none

a:hover
    text-decoration underline

.subdued
    color grey
